body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    width: 600px;
    box-sizing: border-box;
    background-color: rgb(226, 226, 226);
    box-shadow: 5px 5px 25px grey;
    padding: 3rem;
}

button {
    margin-top: 1rem;
}